<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BitMonk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="BitMonk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <appSettings>
    <add key="RpcRequestTimeoutInSeconds" value="60" />
    <add key="Bitcoin_DaemonUrl" value="http://localhost:37771" />
    <add key="Bitcoin_DaemonUrl_Testnet" value="http://localhost:37773" />
    <add key="Bitcoin_WalletPassword" value="" />
    <add key="Bitcoin_RpcUsername" value="p1" />
    <add key="Bitcoin_RpcPassword" value="p2" />

  </appSettings>
    <userSettings>
        <BitMonk.Properties.Settings>
            <setting name="Bitcoin_DaemonUrl_Testnet" serializeAs="String">
                <value>http://127.0.0.1:37773</value>
            </setting>
            <setting name="Bitcoin_WalletPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="Bitcoin_RpcUsername" serializeAs="String">
                <value>p1</value>
            </setting>
            <setting name="Bitcoin_RpcPassword" serializeAs="String">
                <value>p2</value>
            </setting>
            <setting name="RpcRequestTimeoutInSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ExtractMyPrivateKeys" serializeAs="String">
                <value>False</value>
            </setting>
        </BitMonk.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <BitMonk.Properties.Settings>
            <setting name="Bitcoin_DaemonUrl" serializeAs="String">
                <value>http://127.0.0.1:37771</value>
            </setting>
        </BitMonk.Properties.Settings>
    </applicationSettings>
</configuration>
